/*---------------------------------VAR--*/

$colora: #229196;
$colorb: #167a7a;
$colorc: #e2e2e2;
$colord: #fff;
/*---------------------------------MIXINS--*/

@mixin radius10 {
    -webkit-border-radius: 10px 10px 10px 10px;
border-radius: 10px 10px 10px 10px;
}
/*---------------------------------GLOBAL--*/


/*---------------------------------------HEADER*/

.right-panel .navbar-header,.right-panel header.header {
    background-color:$colord;
}

/*-------------------------------------------NAVIGATION*/

.navbar .navbar-nav > li.active {
    background-color:$colorb;
    a {
        color:$colord;
         &:hover {
            color:$colorc;
        }
    }
    
}



.navbar .navbar-nav li.menu-item-has-children .sub-menu {
  background-color:transparent;
  padding: 0 0 0 15px;
    li {
        background-color:$colorb;
        padding:5px;
        margin-bottom: 5px;
    }
    a {
        color: $colord;
        &:hover {
            color:$colorc;
        }
    }
}

.navbar .navbar-nav li.menu-item-has-children .sub-menu i {
    top:15px;
    left:4px;
    color:$colord;
}

/*-----------------------------------------------------------------------------PAGES*/

.right-panel .page-header {
    
    background-color: transparent;
    padding:0px;
}