/*---------------------------------VAR--*/
/*---------------------------------MIXINS--*/
/*---------------------------------GLOBAL--*/
/*---------------------------------------HEADER*/
.right-panel .navbar-header, .right-panel header.header {
  background-color: #fff;
}

/*-------------------------------------------NAVIGATION*/
.navbar .navbar-nav > li.active {
  background-color: #167a7a;
}
.navbar .navbar-nav > li.active a {
  color: #fff;
}
.navbar .navbar-nav > li.active a:hover {
  color: #e2e2e2;
}

.navbar .navbar-nav li.menu-item-has-children .sub-menu {
  background-color: transparent;
  padding: 0 0 0 15px;
}
.navbar .navbar-nav li.menu-item-has-children .sub-menu li {
  background-color: #167a7a;
  padding: 5px;
  margin-bottom: 5px;
}
.navbar .navbar-nav li.menu-item-has-children .sub-menu a {
  color: #fff;
}
.navbar .navbar-nav li.menu-item-has-children .sub-menu a:hover {
  color: #e2e2e2;
}

.navbar .navbar-nav li.menu-item-has-children .sub-menu i {
  top: 15px;
  left: 4px;
  color: #fff;
}

/*-----------------------------------------------------------------------------PAGES*/
.right-panel .page-header {
  background-color: transparent;
  padding: 0px;
}

/*# sourceMappingURL=style.css.map */
