body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 14 \2502  @import \"variables\"; \d\a    \2502          ^^^^^^^^^^^\a    \2575 \a   admin\\scss\\style.scss 14:9  root stylesheet";
}

aside.left-panel {
    background: #aa1d21;
    height: 85vh;
    padding: 0;
    vertical-align: top;
    width: 150px;
    -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    position: fixed;
    left: 2%;
    border-radius: 100px;
    bottom: 65;
    top: 65px;
    z-index: 999;
}
