/*!
Theme Name: thursday
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: thursday
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

thursday is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	scroll-behavior: smooth;
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
	font-family: 'Lato', sans-serif !important;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
	font-size: 2em;
	margin: 0.67em 0;
	letter-spacing: auto !important;
	text-transform: inherit !important;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	/* font-family: monospace, monospace; /* 1 */ */
	font-size: 1em; /* 2 */
	font-family: 'Lato', sans-serif;
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	/* font-family: monospace, monospace; /* 1 */ */
	font-size: 1em; /* 2 */
	font-family: 'Lato', sans-serif;
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}



/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	/*font-family: sans-serif;*/
	/*font-size: 16px;*/
	font-size: 14px;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}



dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	/*font-family: "Courier 10 Pitch", Courier, monospace;*/

	/*font-size: 15px;*/
	font-size: 14px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	/* font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; */
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    /* font-family: 'Kanit', sans-serif; */
		font-family: 'Lato', sans-serif;
		background: #ffffff;
		/* Fallback for when there is no custom background color defined. */
		position: relative;
		font-size: 14px !important;
  	margin: 0;
  	min-height: 100%;
}



hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #333;
}



#searchsubmit, .button, button {
	cursor: pointer !important;
}



/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
	padding-left:10px;
	padding-right:10px;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

.custom-logo {
    transition: all .8s;
    -webkit-transition: all .8s;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF SIX  */
.span_6_of_6 {
	width: 100%;
}

.span_5_of_6 {
  	width: 83.06%;
}

.span_4_of_6 {
  	width: 66.13%;
}

.span_3_of_6 {
  	width: 49.2%;
}

.span_2_of_6 {
  	width: 32.26%;
}

.span_1_of_6 {
  	width: 15.33%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; }
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF SEVEN  */
.span_7_of_7 {
	width: 100%;
}

.span_6_of_7 {
  	width: 85.48%;
}

.span_5_of_7 {
  	width: 70.97%;
}

.span_4_of_7 {
  	width: 56.45%;
}

.span_3_of_7 {
  	width: 41.94%;
}

.span_2_of_7 {
  	width: 27.42%;
}

.span_1_of_7v {
    width: 12%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_7, .span_2_of_7, .span_3_of_7, .span_4_of_7, .span_5_of_7, .span_6_of_7, .span_7_of_7 { width: 100%; }
}

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 23.8%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 780px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 48.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col {
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}
/*--------------------------------------------------------------------------MY CSS*/


.site-footer {
	background-color:#333 !important;
	padding:30px;
}
.site-footer a {
		color:#fff;
}

/*//////*/
a.add-request-quote-button.button {
	width: auto;
    border-radius: 2px !important;
    color: #fff !important;
    background-color: #3a67b1 !important;
    border: 0px !important;
	transition: all .3s;
	-webkit-transition: all .3s;
}
a.add-request-quote-button.button::after {
/* 	content: " f105"; */
	content: "\f105";
}
a.add-request-quote-button.button:hover {
    background-color: #5e8ad3;
}

/*  GRID OF FIVE  */
.span_5_of_5 {
	width: 100%;
}
.span_4_of_5 {
	width: 79.68%;
}
.span_3_of_5 {
	width: 59.36%;
}
.span_2_of_5 {
	width: 39.04%;
}
.span_1_of_5 {
	width: 18.72%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5 { width: 100%; }
}

.cross-sells {
/* 	display:none; */
}

section.module:last-child {
    margin-bottom:0
}
section.module.parallax-1 {
    background-image:url();
	background-size: cover;
}
.description {
    padding: 100px 10px;
    margin-top: -2px;
}
.description h1 {
    color: #fff !important;
}

@media (max-width: 768px) {
    .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
        width: auto !important;
        max-width: 1400px;
    }
    .woocommerce .quote table.shop_table {
        margin-top: 50px !important;
    }
}

#gform_fields_22_5 .gfield_label {
    font-size: 14px !important;
}

#gform_fields_22_6 .gfield_label {
    font-size: 14px !important;
}

/* Journey Product Page Style */
#journeywrap {
    margin-top: 130px;
    padding: 50px 0px;
}
.journey-thumbnail {
    width: 100%;
    height: 100vh;
    background: #f7f8fa;
    position: fixed;
    left: 0;
    margin-top: -78px;
    z-index: -9;
    /*background-size: cover !important;*/
    /*background: url(https://rightclickerstesting.co.za/rcm1louise/acd/wp-content/uploads/2020/04/qback-scaled.jpg);*/
}
.woocommerce.journey {
    width: auto;
    max-width: 1200px !important;
    border: 0px solid #ccc;
    color: #fff;
    /*padding: 1px 17px 17px 20px;*/
    /* margin-top: 380px; */
    /*background: #3c6cb9;*/
    z-index: 99;
    position: relative;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    /*-webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);*/
    /*box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);*/
}
.woocommerce-breadcrumb, .product_meta {
    width: auto;
    max-width: 1200px;
    /*margin-top: 70px !important;*/
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.woocommerce a.added_to_cart {
    padding-top: .5em;
    display: inline-block;
    background: #3a67b1;
    padding: 10px;
    width: 45%;
    text-align: center;
    color: #fff;
    /*border-radius: 30px;*/
    left: 0;
}
article.post-2621 {
    width: auto;
    max-width: 1200px;
    margin: auto;
    margin-top: 180px;
}
.journey h1 {
    color: #333 !important;
    /*text-align: left;*/
}
.journey ul.products li.product {
    border: 0px solid #ddd !important;
    padding: 10px;
    background: #fff;
    color: #333;
    padding-bottom: 30px !important;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.05);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.05);
    transition: all .3s;
    -webkit-transition: all .3s;
    /*transform: scale(1.0);*/
    /*-webkit-transform: scale(1.0);*/
}
.journey ul.products li.product:hover {
    /*transform: scale(1.1);*/
    /*-webkit-transform: scale(1.1);*/
    border: 5px solid #333;
}
.journey ul.products li.product p {
    color: #333;
}
.journey .button {
    border-radius: 30px !important;
    border: 0px !important;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.journey .button:hover {
    background-color: #192e5d !important;
}
.ctas {
    margin-bottom: -2px;
}

.journeyblock {
    width: 100%;
    min-height: 500px;
    /*height: calc(100vh - -38px);*/
/*    top: 16px;*/
    padding-top: 0px !important;
    padding-bottom: 60px !important;
    position: relative;
    display: block;
    background: url(https://rightclickerstesting.co.za/rcm1louise/acbackup/wp-content/uploads/2020/06/back-01.svg);
    background-size: cover;
    background-position: 50% 50%;
}

.journeyblock .post-thumbnail {
    background: none !important;
}
#yith-quick-view-modal #yith-quick-view-content {
    padding: 15px;
}
.woocommerce .quote table.shop_table {
    width: auto;
    margin: auto;
    max-width: 1200px !important;
    overflow-x: auto !important;
    display: block !important;
}

#ctawidget {
    background: #333;
    color: #fff;
    font-size: 13.5px;
    padding: 5px 5px;
    margin-bottom: -2px;
    display: block;
    width: 100%;
    position: fixed;
    z-index: 9999;
    width: 100%;
    letter-spacing: 0px;
    font-weight: 400;
    transition: all .8s;
    -webkit-transition: all .8s;
}
.ctawidget {
    max-width: 1200px;
    padding: 5px 0px;
    margin: auto;
    line-height: 25px;
}

.ctawidget a {
    color: #fff;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.ctawidget a:hover {
    color: #4c7dc8;
}

.ctacolor {
    color: #4c7dc8;
    font-weight: 900;
}

.ctaicons {
    font-size: 15px;
    margin-left: 15px;
    vertical-align: bottom;
}

.ctaicons a {
    padding: 0px 3px;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.colcta {
	display: block;
	float:left;
	margin: 0;
}
.colcta:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2cta {
	width: 100%;
}
.span_1_of_2cta {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.colcta {
		margin: 0;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2cta, .span_1_of_2cta { width: 100%; }
}

.span_3_of_3cta { width: 100%; }
.span_2_of_3cta { width: 66.13%; text-align: right; }
.span_1_of_3cta { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 360px) {
	.colcta {  margin: 0; }
	.span_3_of_3cta, .span_2_of_3cta, .span_1_of_3cta { width: 100%; }
}

.choice01 {
    width: 25vw;
}

.gform_wrapper .gf_progressbar:after {
    z-index: -9;
    height: 13px !important;
    margin-top: -11px !important;
    background-color: #e0e0e0 !important;
    -webkit-box-shadow: inset 0 0 2px 2px rgba(0,0,0,.0) !important;
    -moz-box-shadow: inset 0 0 2px 2px rgba(0,0,0,.0) !important;
    box-shadow: inset 0 0 2px 2px rgba(0,0,0,.0) !important;
}
.gform_wrapper .gf_progressbar_percentage {
    height: 12px !important;
    position: relative;
}

gform_wrapper .gf_progressbar {
    padding: 0px !important;
}

.gform_wrapper .gf_progressbar_wrapper {
    margin-top: -85px;
}
.gform_wrapper .gf_progressbar_wrapper h3.gf_progressbar_title {
    font-size: 12px !important;
    line-height: 5 !important;
    float: right;
    width: 100px;
    padding-top: 15px !important;
    color: #333 !important;
    text-shadow: 0 0 0 #FFFFFF; !important;
}

.gform_wrapper .gf_progressbar_wrapper {
    clear: both;
    width: 100%;
    max-width: 600px;
    right: 0;
    position: absolute;
    margin: 0 0 16px 0;
    padding: 0 0 16px 0;
}
.gform_wrapper .gf_progressbar {
    width: calc(100% - 16px) !important;
    padding: 0px !important;
}
.gform_wrapper .gf_progressbar {
    background-color: rgba(0,0,0,.0);
}

.gform_wrapper h3 {
    margin-top: 10px !important;
}

.gform_wrapper .gf_progressbar_percentage span {
    display: block;
    width: auto;
    color: #333 !important;
    float: left !important;
    margin-right: 0px !important;
    margin-left: 20px !important;
    line-height: 5 !important;
    background: repeating-linear-gradient(-45deg,rgba(0,0,0,0),rgba(0,0,0,0) 10px,rgba(0,0,0,.0) 10px,rgba(0,0,0,.0) 20px),linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.0)) !important;
}

.gform_wrapper .gform_heading {
    margin-top: 10vh !important;
}

.welcome_journey {
    margin-top: 120px;
    float: none;
    display: inline-block;
}

.welcome_journey h3 {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 1;
}

body .gform_wrapper ul li.gfield {
    margin-top: calc(12% - 5px) !important;
}

li#field_24_91 {
    margin-top: 10px !important;
}

.gfield_label {
    color: #333;
}

.gform_wrapper .gform_page_footer {
    width: 100% !important;
    max-width: 600px;
    float: right;
    right: 0;
    text-align: right;
    padding-top: 0px !important;
}

.gform_wrapper .gform_page_footer .button.gform_next_button {
    margin-right: 10px;
    border-radius: 100px;
    padding: 10px 35px;
    text-transform: uppercase;
    background-color: #f7f8fa;
    color: #3867ab;
    border: solid 1.5px #3867ab;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.gform_wrapper:hover .gform_page_footer:hover .button.gform_next_button:hover {
    background-color: #3867ab;
    color: #fff;
    -webkit-box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.3);
}
.gform_wrapper:hover .gform_page_footer:hover .button.gform_next_button:hover {
    background-color: #3867ab;
    color: #fff;
    -webkit-box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.3);
}
.gform_wrapper:hover .gform_page_footer:hover .button.gform_button:hover {
    background-color: #3867ab;
    color: #fff;
    -webkit-box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.3);
}

.gform_wrapper .gform_page_footer .button.gform_previous_button {
    margin-right: 10px;
    border-radius: 100px;
    padding: 10px 35px;
    margin-bottom: 15px;
    text-transform: uppercase;
    background-color: #f7f8fa !important;
    color: #ee2729 !important;
    border: solid 1.5px #ee2729;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.gform_wrapper:hover .gform_page_footer:hover .button.gform_previous_button:hover {
    background: #ee2729 !important;
    color: #fff !important;
}
.gform_wrapper::after .gform_page_footer::after .button.gform_next_button::after {
    content: " \f105";
}
.button.gform_next_button::after {
content: "f054";
}

.ginput_container.ginput_container_radio {
    text-align: right;
}
.gform_wrapper .top_label .gfield_label, .gform_wrapper legend.gfield_label {
    background: rgba(255,255,255,0) !important;
    display: -moz-inline-stack;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    clear: both;
    color: #333 !important;
}
label.gfield_label {
    text-align: center !important;
}
.first_block_4 .gf_right_half {
    margin-top: -20px !important;
}
.choice02 {
    width: 25vw;
}
.choice03 {
/*     width: 30vw; */
}
.choice04 {
/*     width: 60%; */
/*     max-width: 350px !important; */
}
.choice05 {
    width: 80%;
    max-width: 350px !important;
}
.choice06 {
    width: 75%;
    max-width: 300px !important;

}
.choice07 {
    width: 65%;
    max-width: 300px !important;
}
.choice08 {

    position: absolute;
    display: inline-block;
}
.choice09 {
    width: 30%;
    max-width: 300px !important;
    position: absolute;
    display: inline-block;
}
.choice10 {
    width: 30%;
    max-width: 300px !important;
    position: absolute;
    display: inline-block;
}
.choice11 {
    width: 30%;
    max-width: 300px !important;
    position: absolute;
    display: inline-block;
}

#field_24_34 {
    margin-top: -150px !important;
}
.colblock1 {
    width: 49%;
    float: left;
}
.colblock2 {
    width: 49%;
    float: right;
}
@media (max-width: 480px) {
.colblock1 {
    width: 100%;
    float: none;
    display: block;
}
.colblock2 {
    width: 100%;
    float: none;
    display: block;
}
}

.choiceb3 .gform_wrapper .gfield_radio li label {
    width: 100% !important;
}

#label_24_93_0, #label_24_93_1, #label_24_93_2 {
    width: 100% !important;
}

.left_halfshort {
    max-width: 450px !important;
}

.koo_left, .koo_right {
    width: 49%;
    clear: both;
}
.koo_left {
    width: 49%;
    float: left;
}
.koo_right {
    width: 49%;
    float: right;
}
#gfield_description_24_1 {
    color: #333 !important;
    font-size: 14px !important;
}

.headspace {
/*    position: fixed;*/
    position: relative;
/*    margin-top: 70px;*/
    z-index: 9999;
    width: 100%;
/*    max-width: 1200px;*/
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: #ffffff !important;
    left: 0;
    right: 0;
/*    -webkit-box-shadow: 0 0 5px 5px rgba(0,0,0,0.05);*/
/*    box-shadow: 0 0 5px 5px rgba(0,0,0,0.05);*/
}
.headspacewrap {
    width: auto;
    max-width: 1200px;
    margin: auto;
}

header .headspace {
    margin: auto;
    margin-top: 45px !important;
    height: 110px;
    position: fixed;
    transition: all .8s;
    -webkit-transition: all .8s;
    -webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,0.1);
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.1);
}
header.smaller .headspace {
    height: 65px;
    margin-top: 39px !important;
    max-width: 100%;
    position: fixed;
    background: rgba(255, 255, 255, 0.85) !important;
    -webkit-box-shadow: 0 0 15px 3px rgba(0,0,0,0.1);
    box-shadow: 0 0 15px 3px rgba(0,0,0,0.1);
}
.ubermenu.ubermenu-main, .custom-logo-link, .is-form-style input.is-search-input {
    transition: all .3s;
    -webkit-transition: all .3s;
}
header.smaller .headspace .ubermenu.ubermenu-main {
    padding-top: 0px;
    margin-top: 15px;
}
header.smaller .headspace .site-branding {
    margin-top: 4px;
}
header .headspace .custom-logo-link {
    transition: all .8s;
    -webkit-transition: all .8s;
    position: relative;
    z-index: 9999999;
}
header.smaller .headspace .custom-logo-link {
    max-width: 205px;
    /*float: right;*/
    padding-top: 2px;
    transition: all .8s;
    -webkit-transition: all .8s;
}
header.smaller .headspace .is-form-style input.is-search-input {
    margin-top: -2px;
    padding: 6px 12px;
}
header.smaller .headspace .is-search-icon {
    display: inline-block;
    padding: 3px !important;
    margin-top: -2px;
}
header.smaller #ctawidget {
    padding: 2px 10px;
    background: rgb(51 , 51 , 51 , 0.9);
}
a.ubermenu-target {
    background: rgba(51, 51, 51, 0) !important;
}

#field_24_99 {
    margin-top: 100px;
}
#field_24_78 {
    margin-top: 0px !important;
}
#field_24_115 {
    margin-top: -330px !important;
}
#field_24_37 {
    margin-top: 0px !important;
}
#field_24_38 {
    margin-top: 50px !important;
}
#field_24_36 {
    margin-top: 50px !important;
}
#gfield_description_24_37, #gfield_description_24_38, #gfield_description_24_35, #gfield_description_24_36 {
    color: #333;
}
#input_24_41 {
    margin-top: 100px !important;
}
#field_24_41 {
    margin-top: 0px !important;
}
#gform_submit_button_24 {
   
    padding: 15px;
    border-radius: 30px;
}
#label_24_41_0, #label_24_41_1 {
    width: 25% !important;
}
.woocommerce a.button {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    /*border-radius: 30px !important;*/
    padding: 15px 10px;
    background: #3867ab !important;
    color: #fff;
    text-transform: uppercase;
    border: 0px !important;
    text-align: center;
}
.woocommerce a.button:hover {
    background: #192e5d !important;
}
.installation .woocommerce.columns-1 ul.products li.product {
    padding-top: 35px;
}
.woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled] {
    /*border-radius: 30px;*/
    padding: 15px 20px;
    background: #333;
    color: #fff;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.woocommerce button.button {
    /*border-radius: 30px !important;*/
    padding: 15px 20px;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
/*     float: none !important;
    width: 100% !important; */
}

.cart-subtotal, .order-total {
    text-align: right;
}

.woocommerce a.button.alt {
    background-color: #3a67b1 !important;
    color: #fff !important;
    display: inline-block;
    width: 45%;
    padding: 15px 20px !important;
    font-size: 14px;
}

.wc-proceed-to-checkout {
    text-align: right;
}
.woocommerce button.button.alt, .woocommerce a.button.alt {
    background-color: #3a67b1 !important;
    color: #fff !important;
    display: inline-block;
    width: 45%;
    padding: 15px 20px !important;
    font-size: 14px;
}
.woocommerce input.button {
    width: 45% !important;
    display: inline-block !important;
    padding: 15px 20px !important;
    border-radius: 30px !important;
}

.woocommerce a.button:hover {
    background-color: #2e528c !important;
}

.cart_totals h2 {
    text-align: center;
}

#clear_quotes .woocommerce input.button {
    width: 49% !important;
    display: inline-block !important;
    padding: 15px 20px !important;
    border-radius: 30px !important;
}

._quoteall_buttons_wrapper button#_email_quote_trigger {
    background-color: #3a67b1 !important;
    margin-right: 0px !important;
    width: 49%;
    float: right !important;
    padding: 23px;
    border-radius: 0px;
    color: #fff !important;
    transition: all 0.3s;
    transition: all 0.3s;
}

#_add_quote_to_cart .button, #clear_quotes .button, #_email_quote_trigger {
    width: 49% !important;
}
._quoteall_buttons_wrapper button#_email_quote_trigger {
    float: right !important;
}
._quoteall_buttons_wrapper button#_email_quote_trigger {
    padding: 15px !important;
    border-radius: 100px !important;
    color: #fff !important;
    float: right !important;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.woocommerce.quote {
    padding-bottom: 200px !important;
}

.deskcta {
    display: block;
}
.mobicta {
    display: none;
}

@media (max-width: 640px) {
/*    .gform_wrapper h3, h2, h5 {*/
/*        text-shadow: 1px 1px 6px #4A4A4A;*/
/*}*/

.mobicta {
    display: block;
}
.deskcta {
    display: none;
}
.ctaicons {
    font-size: 19px;
    margin-left: 5px;
    vertical-align: sub;
}
.ctacolor {
    font-size: 19px;
}
.colcta a {
    margin-right: 5px;
}
.ctaicons a {
    padding: 0px 3px;
}
#ctawidget {
    padding: 0px 5px;
}
.journeyblock {
    top: 0px;
    margin-bottom: 0px !important;
    background-position: 65% 50%;
}
.journeyblock h1, .journeyblock h2, .journeyblock h3, .journeyblock h4, .journeyblock p {
    color: #333 !important;
}
.content-area {
     margin-top: 0px !important;
}
.gform_wrapper ul.gfield_radio li {
    display: inline-block !important;
    width: 47% !important;
}
.gform_wrapper .gfield_radio li label {
    max-width: 100% !important;
}
.gform_wrapper ul.gfield_radio li label {
    width: 100% !important;
}
.gform_wrapper ul.gfield_radio li {
    overflow: visible !important;
}
#field_24_101 {
    text-align: center;
}
.choice01 {
    width: 65%;
    margin-top: 100px;
}
.choice02 {
    width: 55vw;
    margin-top: 100px;
}
#field_24_109 {
    margin-top: 100px;
    text-align: center;
}
.span_2_of_3cta {
    width: 49%;
    text-align: right;
}
.span_1_of_3cta {
    width: 49%;
}
.choice03 {
    width: 50vw;
    margin-top: 100px;
}
.choice04 {
    max-width: 200px !important;
    margin-top: 100px;
    width: 55%;
}
.choice05 {
    margin-top: 100px;
    width: 70%;
}
.choice06 {
    width: 65%;
    max-width: 300px !important;
    margin-top: 100px;
}
#field_24_112, #field_24_117, #field_24_113 {
    text-align: center;
}
.gform_wrapper ul.gfield_radio li.gchoice_24_93_0, .gform_wrapper ul.gfield_radio li.gchoice_24_93_1, .gform_wrapper ul.gfield_radio li.gchoice_24_93_2 {
    display: block !important;
    width: 100% !important;
}
.categoryDescriptions {
    display: none;
}
.colblock1 {
    width: 100%;
    float: none;
}
.colblock2 {
    width: 100%;
    float: none;
    padding-top: 100px !important;
}
ul#input_24_99 {
    margin-top: 100px;
}
.koo_left {
    width: 100%;
    float: left;
}
.koo_right {
    width: 100%;
    float: left;
}
li#field_24_78, li#field_24_78 h3, li#field_24_78 h4, li#field_24_78 h5  {
    color: #fff;
    text-shadow: 0 0 0 #707070;
    margin-top: 170px !important;
}
li#field_24_78 h3 {
    margin-top: 20px !important;
}
#field_24_78 {
    margin-top: 170px !important;
}
#field_24_78 {
    /*margin-top: 150px !important;*/
}
li#field_24_78, li#field_24_78, li#field_24_78, li#field_24_78 {
    /*color: #ffffff;*/
    /*background: #3333334f;*/
    padding: 10px;
    /*border-radius: 30px;*/
    margin-top: 170px !important;
    color: #333 !important;
}
#field_24_121 {
    text-align: center !important;
}
li#field_24_115 {
    color: #ffffff;
    background: #3333334f;
    padding: 10px;
    border-radius: 30px;
    margin-top: 65px !important;
}
#field_24_38 {
    margin-bottom: 50px;
}
li#field_24_115 h1 {
    color: #ffffff;
}
li#field_24_37 {
    margin-top: 30px !important;
}
li#field_24_41 {
    margin-top: 100px !important;
    float: left;
    width: 100%;
}
#gform_submit_button_24 {
    
    max-width: 600px;
    border-radius: 30px;
    border: solid #fff 2px;
}
#shiftnav-toggle-main.shiftnav-toggle-style-burger_only {
    margin-top: 36px !important;
}
.fa-shipping-fast:before {
    margin-right: 5px;
}
.journeyblock {
    padding-top: 20px !important;
}
#field_24_34 {
    top: 680px !important;
    position: absolute;
    z-index: 9999999999;
    display: block;
}
#field_24_121 {
    margin-top: 100px !important;
    display: inline-block;
}
#field_24_115 {
    margin-top: 0px !important;
}
#gform_fields_24_16 {
    margin-top: 50px !important;
    display: inline-block;
}
#field_24_8 {
    margin-top: 20px !important;
}
.choice08 {
    width: 55%;
    position: relative;
}
.choice09 {
    width: 55%;
    position: relative;
}
.choice11 {
    width: 55%;
    position: relative;
}
#field_24_114 {
    text-align: center;
}
li#field_24_91 {
    color: #333;
}
#field_24_120 {
    text-align: center !important;
}
#field_24_122 {
    text-align: center;
}
#field_24_116 {
    text-align: center;
    margin-top: 10px;
}
#label_24_41_0, #label_24_41_1 {
    width: 100% !important;
}
#field_24_77 {
    display: block;
    padding-top: 50px !important;
    padding-bottom: 20px;
}
#field_24_8 {
    margin-top: 20px !important;
    margin-bottom: 20px;
}
}

/* coolculator */
.coolculator1 {
	position: fixed;
	width: 200px;
  right: 10px;
	top: 45vh;
	z-index: 999;
}
.coolculator1 .coolinfo {
	position: absolute;
	width: 200px;
	height: auto;
	margin-top: -130px;
	opacity: 0;
	margin-top: -73px;
  font-size: 12px;
	background: #fff;
	color: #333;
	border-radius: 30px;
	padding: 0px 10px;
	-webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
	transition: all .3s;
	-webkit-transition: all .3s;
}
.coolculator1 .coolinfo:hover {
	opacity: 1;
}

.coolculator2 {
	width: 250px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 100px;
    margin-top: 150px;
}
.coolculator2 .coolinfo {
	position: absolute;
	width: 200px;
	height: auto;
	margin-top: -130px;
	opacity: 0;
	margin-top: -73px;
	margin-left: 25px;
  font-size: 12px;
	background: #fff;
	color: #333;
	border-radius: 30px;
	padding: 0px 10px;
	-webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
	transition: all .3s;
	-webkit-transition: all .3s;
}

.coolculator2 .coolinfo:hover {
	opacity: 1;
}

.coolculator3 {
    position: fixed;
    width: 100px;
    right: 0px;
    top: 65vh;
    z-index: 999;
}
.coolculator3 .coolinfo {
	position: absolute;
	width: 200px;
	height: auto;
	margin-top: -130px;
	opacity: 0;
	margin-top: -73px;
	margin-left: -80px;
    font-size: 12px;
	background: #fff;
	color: #333;
	border-radius: 30px;
	padding: 0px 10px;
	-webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
	transition: all .3s;
	-webkit-transition: all .3s;
}

.coolculator3 .coolinfo:hover {
	opacity: 1;
}

.journey .button {
    display: inline-block !important;
    background-color: #4c7dc9 !important;
    padding: 15px 5px !important;
    width: 45% !important;
    color: #fff !important;
    text-align: center;
    margin: auto !important;
    margin-right: 10px !important;
    text-transform: uppercase;
    font-size: 14px !important;
    font-weight: bolder !important;
}

.ubermenu-sub-indicators .ubermenu-has-submenu-drop>.ubermenu-target>.ubermenu-sub-indicator {
    margin-right: 5px;
    top: 50%;
    margin-top: -6px;
    display: inline-block;
    position: relative !important;
    right: 0px !important;
}

.floatblock  {
    float: left;
}
#field_24_124 {
    margin-top: 0px !important;
}
#field_24_8 {
    margin-top: -120px !important;
}

#field_24_127 {
/* 	 margin-top: -300px !important; */
}
#gfield_description_24_10 {
    color: #333 !important;
}

/*Dispaly Read More Accordion*/
.read-more.ui-accordion.ui-widget.ui-helper-reset {
    cursor: pointer;
    margin-top: -10px !important;
    padding-top: 0px !important;
}
/*Dispaly Read More Accordion*/

/*Carosal*/
.carousel-wraphome {
  margin: 0px !important;
  padding: 0  !important;
  width: auto;
  /*max-width: 1400px;*/
  position: relative;
}

.carousel-wraphome .item {
    transition: all .3s;
    -webkit-transition: all .3s;
}
.carousel-wraphome .item:hover {
    background: #e8e8e8;
}

.fa-check {
    position: absolute;
    font-size: 30px !important;
    top: -25px;
    right: 20px;
}

/* fix blank or flashing items on carousel */
.owl-carouselhome .itemhome {
  position: relative;
  z-index: 100;
  -webkit-backface-visibility: hidden;
}

/* end fix */
.owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 40%;
    color: #8c8c8c;
    font-size: 35px !important;
}

.owl-nav i {
  /*font-size: 52px;*/
}

.owl-nav .owl-prev {
  left: 5px;
}

.owl-nav .owl-next {
  right: 5px;
}
/*Carosal*/

.discoverhead {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px 0px;
    border-bottom: solid 1px #b7b7b7;
}
h3.discoverhead {
    width: 100% !important;
}

.bannermain {
    position: relative;
    margin-top: 153px;
}

.bannertxt {
    width: auto;
    max-width: 1200px;
    text-align: left;
    color: #333;
    padding-top: 75px;
    /*margin-top: -80px;*/
    /*margin-bottom: 0px !important;*/
}

.bannertxt p, .bannertxt h1, .bannertxt h2, .bannertxt h3 {
    color: #333;
}

.bannertxt h3 {
    font-size: 26px !important;
    color: #333;
    font-weight: 700;
    line-height: 24px !important;
}

.bannertxt p {
    color: #333;
    margin: 10px 0px !important;
    line-height: 17px !important;
    font-size: 14px !important;
}

.bannertxt a {
    color: #333 !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    transition: all .3s !important;
    -webkit-transition: all .3s !important;
}

.bannertxt a:hover {
    color: #3b6ab7 !important;
}

.n2-ss-layers-container .n2-ow {
    width: auto !important;
    max-width: 1200px !important;
    margin: auto !important;
}

.bimg {
    width: auto !important;
    max-width: 520px !important;
}

.read_more {
    display: inline-block;
    width: auto;
    max-width: 240px;
    padding: 15px 45px;
    background: #ee2729;
    border-radius: 35px;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.read_more:hover {
    background: #be1b1c;
    -webkit-box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.1);
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.1);
}

.read_moreb {
    display: inline-block;
    padding: 15px 45px;
    background: #4c7dc8;
    border-radius: 35px;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.read_moreb:hover {
    background: #2e528c;
    -webkit-box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.1);
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.1);
}

/*.read_morewrap {*/
/*    margin-top: -100px;*/
/*}*/

/*.n2-ss-layer.n2-ow {*/
/*    margin-bottom: 0px !important;*/
/*}*/
.banner_btn {
    margin-top: -130px;
}

.site-branding {
    margin-top: 20px;
    /*margin-left: 50px;*/
    margin-bottom: 15px;
    transition: all .8s;
    -webkit-transition: all .8s;
}
.site-branding img {
    width: 265px;
    transition: all .8s;
    -webkit-transition: all .8s;
    float: left;
}
header.smaller .site-branding img {
    width: 205px;
    transition: all .8s;
    -webkit-transition: all .8s;
}
.ubermenu .ubermenu-target {
    padding: 10px 8px !important;
    font-size: 13px;
	text-transform: uppercase !important;
}
.ubermenu .ubermenu-target-text {
    /* font-family: 'Kanit', sans-serif !important; */
		font-family: 'Lato', sans-serif !important;
    padding-right: 3px;
}

.is-menu.default form {
    max-width: 1200px !important;
}
.is-ajax-search label {
    width: 100%;
}
/*.is-form-id-18494 {*/
/*    display: none !important;*/
/*}*/
.ubermenu-main input {
    /* font-family: 'Kanit', sans-serif !important; */
		font-family: 'Lato', sans-serif !important;
    border-radius: 40px;
    background: #e5e5e5;
    width: 100%;
    border: 0px !important;
    padding: 5px 20px;
}
#18494 {
    display: none !important;
}
.is-form-style button.is-search-submit {
    width: 50px !important;
    margin-left: -50px !important;
    position: absolute;
    background: #3b6ab7 !important;
    color: #fff !important;
    border-radius: 0px 30px 30px 0px;
    padding: 0px !important;
    cursor: pointer !important;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.is-form-style button.is-search-submit:hover {
    background: #2e579a !important;
}
span.is-search-icon svg {
    color: #fff !important;
    fill: #fff;
    -webkit-fill: #fff;
}
.is-search-icon {
    display: inline-block;
    padding: 5px !important;
    color: #fff !important;
    background: rgba(250, 250, 250, 0) !important;
    outline: 0;
    font-size: 14px !important;
    border: 0px solid #ccc !important;
    border-radius: 0;
    line-height: 1;
}
form.is-search-form.is-form-id-18494.is-ajax-search {
    display: none;
}
.headspace form.is-search-form.is-form-id-18494.is-ajax-search {
    display: block;
}

.headspace input[value] {
    color: #fff;
}
.headspace input[value]::after {
    content:"This is a ";
}
.is-form-style input.is-search-input {
    padding: 5px 20px;
    font-size: 14px !important;
    line-height: 1;
    border: solid 0px #ccc !important;
    /* font-family: 'Kanit', sans-serif !important; */
		font-family: 'Lato', sans-serif !important;
    border-radius: 30px !important;
    color: #333;
}

.is-ajax-search .is-loader-image {
    right: 15px !important;
}

.discoverwrap {
    width: auto;
    max-width: 1200px;
    min-height: 100px;
    background: #f7f8fa;
    border-radius: 30px;
    margin: auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-top: -38px;
    -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.colf {
	display: block;
	float:left;
	margin: 0% 0 0% 0%;
	transition: all .3s;
	-webkit-transition: all .3s;
}
.colf:hover {
	background: #dedede;
}
.colf:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF SEVEN  */
.span_7_of_7 {
	width: 100%;
}

.span_6_of_7 {
  	width: 85.71%;
}

.span_5_of_7 {
  	width: 71.42%;
}

.span_4_of_7 {
  	width: 57.14%;
}

.span_3_of_7 {
  	width: 42.85%;
}

.span_2_of_7 {
  	width: 28.57%;
}

.span_1_of_7 {
  	width: 14.28%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.colf {  margin: 0; }
	.span_1_of_7, .span_2_of_7, .span_3_of_7, .span_4_of_7, .span_5_of_7, .span_6_of_7, .span_7_of_7 { width: 100%; }
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.colf {
	display: block;
	float:left;
	margin: 0% 0 0% 0%;
}
.colf:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF EIGHT  */
.span_8_of_8 {
	width: 100%;
}

.span_7_of_8 {
  	width: 87.5%;
}

.span_6_of_8 {
  	width: 75%;
}

.span_5_of_8 {
  	width: 62.5%;
}

.span_4_of_8 {
  	width: 50%;
}

.span_3_of_8 {
  	width: 37.5%;
}

.span_2_of_8 {
  	width: 25%;
}

.span_1_of_8 {
  	width: 12.5%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.colf {  margin: 0px; }
	.span_1_of_8, .span_2_of_8, .span_3_of_8, .span_4_of_8, .span_5_of_8, .span_6_of_8, .span_7_of_8, .span_8_of_8 { width: 100%; }
}

a.frontcaticon {
    text-align: center !important;
}
.frontcaticon .fa, .frontcaticon .fab, .frontcaticon .fal, .frontcaticon .far, .frontcaticon .fas {
    font-size: 100px;
    height: 135px;
    color: #3b6ab7;
    font-family: "Font Awesome 5 Pro" !important;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.frontcaticon svg {
    font-size: 70px;
    height: 115px;
    color: #3b6ab7;
    font-family: "Font Awesome 5 Pro" !important;
    margin: auto !important;
    text-align: center;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.colf.span_1_of_7 {
    text-align: center !important;
}

button {
    transition: all .3s;
    -webkit-transition: all .3s;
}
.discoverwrap button {
    width: 100%;
    height: 55px;
    border: 0px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #333;
    font-size: 11px !important;
    font-weight: 700;
    border-radius: 0px !important;
    background: rgba(255,255,255,0);
    border-top: solid 1px #b5b5b6;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.discoverwrap button:hover {
    color: #fff;
    background: #3b6ab7;
}

.colf.span_1_of_7 {
    transition: all .3s;
    -webkit-transition: all .3s;
}
.colf.span_1_of_7:hover {
    background: #dbdbdb;
}

/*// productcat //*/
#productcatwrapp {
    width: auto;
    max-width: 1200px;
    margin: auto;
    min-height: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.productcat1 {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 29%;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: url(https://rightclickerstesting.co.za/rcm1louise/acbackup/wp-content/uploads/2020/09/wallsplit-2.jpg) 50% 50%;
    /*background-size: cover;*/
    background-size: 110%;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.productcat1:hover {
    background-size: 120%;
}
.productcat2 {
    margin-bottom: -90px;
    margin-right: 10px;
    width: 33%;
    height: 300px;
    display: inline-block;
    background: url(https://rightclickerstesting.co.za/rcm1louise/acbackup/wp-content/uploads/2020/08/img.jpg) 50% 50%;
    background-size: 110%;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.productcat2:hover {
    background-size: 120%;
}
.productcat3 {
    margin-bottom: 10px;
    width: 33%;
    height: 200px;
    display: inline-block;
    background: url(https://rightclickerstesting.co.za/rcm1louise/acbackup/wp-content/uploads/2020/09/DISINFECT-DIRECT-1.jpg) 50% 50%;
    background-size: 110%;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.productcat3:hover {
    background-size: 120%;
}
.productcat4 {
    margin-right: 10px;
    width: 29%;
    height: 300px;
    display: inline-block;
    background: url(https://rightclickerstesting.co.za/rcm1louise/acbackup/wp-content/uploads/2020/09/img_03_01.jpg) 50% 50%;
    background-size: 125%;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.productcat4:hover {
    background-size: 135%;
}
.productcat5 {
    margin-right: 10px;
    width: 33%;
    height: 200px;
    display: inline-block;
    background: url(https://rightclickerstesting.co.za/rcm1louise/acbackup/wp-content/uploads/2020/08/img_05_1-2.jpg) 50% 50%;
    background-size: 110%;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.productcat5:hover {
    background-size: 120%;
}
.productcat6 {
    margin-right: 10px;
    width: 16%;
    height: 300px;
    display: inline-block;
    background: url(https://rightclickerstesting.co.za/rcm1louise/acbackup/wp-content/uploads/2020/09/Accessories.jpg) 50% 50%;
    background-size: 125%;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.productcat6:hover {
    background-size: 135%;
}
.productcat7 {
    width: 16%;
    height: 300px;
    display: inline-block;
    background: url(https://rightclickerstesting.co.za/rcm1louise/acbackup/wp-content/uploads/2020/09/latest-deals-1.jpg) 50% 50%;
    background-size: 125%;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.productcat7:hover {
    background-size: 135%;
}
.datacat {
    display: table;
    width: 100%;
    height: 100%;
    padding-top: 15%;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.45);
    transition: all .3s;
    -webkit-transition: all .3s;
}
.datacat:hover {
    opacity: 1;
}
.datacat1 {
    padding-top: 27%;
}
.datacat2 {
    padding-top: 15%;
}
.datacat3 {
    padding-top: 50%;
}
#productcatwrapp .readmore {
    padding: 10px 25px !important;
    text-align: center;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px !important;
    color: #fff !important;
    background: #4c7dc8 !important;
    transition: all .3s;
    -webkit-transition: all .3s;
}
#productcatwrapp .readmore:hover {
    background: #3f69a8 !important;
}
.productwrapslide {
    width: auto;
    max-width: 1200px;
    margin: auto;
    /*margin-top: 50px;*/
}
.bolder {
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
}
/*// productcat //*/

.paddingtop {
    padding-top: 20px;
}
.wcps-container-18517 .item {
    text-align: center !important;
}
.wcps-items-excerpt {
    font-size: 14px !important;
}
.woocommerce div.product {
    margin-bottom: 0;
    position: relative;
    /*padding-top: 180px;*/
    max-width: 1200px;
    margin: auto;
}
.product_meta {
    margin-top: 50px;
    position: relative !important;
}
.content-area.journeyblock {
    padding: 0px !important;
    margin: auto !important;
    margin-top: 0px !important;
    max-width: 100% !important;
}

.journeyblock .entry-content {
    margin-top: 0px;
}
.woocommerce .woocommerce-breadcrumb {
    margin: auto;
    margin-top: -50px !important;
}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    margin-top: 0px !important;
}

.woocommerce span.onsale {
    /*top: 3.5em;*/
    top: auto !important;
}
._add_to_quote_submit.button {
    width: 100%;
}
content-area {
    padding: 0px !important;
    margin: auto !important;
    margin-top: 220px !important;
    max-width: 1200px !important;
}

.footercta {
    background-color: #333 !important;
    color: #fff !important;
    margin-bottom: 0px !important;
    /*text-transform: uppercase !important;*/
}
.footercta a {
    color: #fff !important;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.footercta a:hover {
    color: #3a67b1 !important;
}
.socobtn a {
    font-size: 24px;
    color: #fff !important;
    display: inline-block;
    padding: 5px 10px;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.socobtn a:hover {
    color: #3a67b1 !important;
}
.footercta h3 {
    font-weight: 700;
}
.footerbtn {
    width: 100%;
    display: block;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 15px;
    text-align: center;
    background: #3a67b1;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.footerbtn:hover {
    background: #305795;
    color: #fff !important;
}
.footerwrap {
    width: auto;
    max-width: 1200px;
    margin: auto;
    padding: 15px 0px;
}
.bordertop {
    width: 250px;
    height: 1.5px;
    background: #fff;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 23px;
}
.copyrighttxt {
    /*font-size: 12px;*/
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    /*letter-spacing: 3px;*/
}
.paymentgateways {
    width: auto;
    max-width: 960px;
    margin: auto;
    transition: all .3s;
    -webkit-transition: all .3s;
}
/*.paymentgateways:hover {*/
/*    -webkit-filter: grayscale(0%);*/
/*    -moz-filter: grayscale(0%);*/
/*    -ms-filter: grayscale(0%);*/
/*    -o-filter: grayscale(0%);*/
/*    filter: gray; */
/*}*/
.easy_testimonial {
    background-color: rgba(243, 243, 243, 0) !important;
}

.ubermenu.ubermenu-main .ubermenu-item-normal > .ubermenu-target {
    transition: all .3s;
    -webkit-transition: all .3s;
}
.ubermenu.ubermenu-main .ubermenu-item-normal > .ubermenu-target:hover {
    color: #ffffff;
    background-color: #3e70bf !important;
}

/* Journey Product Page Style */

/*.journeyblock {*/
/*  position: relative;*/
/*  display: block;*/
/*  background: #333;*/
/*  width: 100%;*/
/*  height: calc(100vh - 0px);*/
/*  overflow-y: scroll;*/
/*}*/
/* Journey Product Page Style */

/*Cart Side*/
[class^="xoo-wsc-icon-"], [class*=" xoo-wsc-icon-"] {
    font-family: none !important;
    color: #fff0;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 50px;
    -moz-osx-font-smoothing: grayscale;
    background: url(https://rightclickerstesting.co.za/rcm1louise/acbackup/wp-content/uploads/2020/08/cart-1.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 50% 35%;
    width: 60px;
    height: 60px;
}

.xoo-wsc-basket {
    width: 60px;
    height: 60px;
}

/*Cart Side*/

/*Menu Search Bar*/

.ysm-search-widget.ysm-search-widget-1.ysm-active {
    display: inline-block;
    float: left;
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 0px;
    line-height: 1.3;
    transition: all .8s;
    -webkit-transition: all .8s;
}

.ysm-search-widget .search-submit:before {
    line-height: 42px;
    background: #3a67b1;
    color: #fff !important;
}

.ysm-search-widget .search-submit {
    width: 45px !important;
    right: 0px !important;
}

.ysm-search-widget-1 .search-field[type="search"] {
    border-color: #333 !important;
}

header.smaller .ysm-search-widget.ysm-search-widget-1.ysm-active {
    margin-top: -30px;
}
/*Menu Search Bar*/
/*Translate Plugin*/
.trp-language-switcher > div {
    border: 0px solid #c1c1c1 !important;
    background-color: rgb(255 255 255 / 0%);
}

/*Translate Plugin*/

.button.alt.ajax_add_to_cart.add_to_cart_button.product_type_simple {
    width: 100% !important;
    background: #3a67b1;
    padding: 15px 25px;
    /*border-radius: 30px;*/
    color: #fff;
    border: 0px !important;
    display: block;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.button.alt.ajax_add_to_cart.add_to_cart_button.product_type_simple:hover {
    background: #27477b !important;
    color: #fff;
}

.section.group.products {
    margin-top: 0px !important;
}

.colhe {
	display: block;
	float:left;
	margin: 0% 5px;
}
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.colhe:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3he { width: 100%; }
.span_2_of_3he { width: 66.13%; }
.span_1_of_3he { width: 30.5%; }
.span_1_of_3her { width: 43.5%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.colhe {  margin: 0% 5px; }
	.span_3_of_3he, .span_2_of_3he, .span_1_of_3he { width: 100%; }
}

.ubermenu.ubermenu-main {
    width: 100%;
    text-align: right !important;
}

.entry-content, .entry-summary {
    margin: 12.5em 0 0 !important;
}

.badgeimg {
    width: auto;
    max-width: 120px;
    /*position: absolute;*/
    z-index: 99;
}

.badgewrap {
    max-width: 1000px;
    margin: auto;
    margin-left: 40px;
}
@media (max-width: 1120px) {
.badgewrap {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.col.span_1_of_4 .badgeimg  {
	float: left;
}	
}

.testimonialsblock {
    width: auto;
    height: auto;
    padding: 15px;
    -webkit-box-shadow: 0 0 15px 2px rgba(0,0,0,0.2);
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.2);
    margin-top: 30px;
}

.testimonial_body h4 {
    font-weight: 700 !important;
}

.cycle-prev.easy-t-cycle-prev {
    width: 20px;
    height: 20px;
    font-size: 0px;
    background: url(https://rightclickerstesting.co.za/rcm1louise/acbackup/wp-content/uploads/2020/08/left.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.cycle-next.easy-t-cycle-next {
    width: 20px;
    height: 20px;
    font-size: 0px;
    background: url(https://rightclickerstesting.co.za/rcm1louise/acbackup/wp-content/uploads/2020/08/right.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.ysm-search-widget.ysm-search-widget-1 {
    height: 43px !important;
    margin-top: 35px !important;
}
header.smaller .ysm-search-widget.ysm-search-widget-1 {
    height: 43px !important;
    margin-top: 10px !important;
}

.sticky-popup {
    width: 380px !important;
}
.posted_in, .tagged_as, .posted_in a, .tagged_as a {
    /*color: #f7f8fa !important;*/
    color: #fff !important;
}
.woocommerce div.product .woocommerce-tabs .panel {
    margin-top: 0px !important;
}
.woocommerce div.product .product_title {
    font-size: 22px !important;
    text-align: left;
}
button.tm-woocompare-button, .woocommerce button.tm-woocompare-button {
    padding: 15px 10px;
}
.slick-track .quantity {
    display: none !important;
}

.woocommerce .woocommerce-breadcrumb a {
    color: #909090 !important;
    font-weight: 600 !important;
}
.woocommerce .woocommerce-breadcrumb {
    color: #9c9c9c;
    font-weight: 300 !important;
}

/*Mega Menu*/
.ubermenu .ubermenu-submenu .ubermenu-submenu-type-flyout {
    left: 70% !important;
    -webkit-box-shadow: 0 0 15px 2px rgba(0,0,0,0.2);
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.2);
}
.ubermenu .ubermenu-submenu.ubermenu-submenu-id-11677 {
    width: 250px !important;
    min-width: auto !important;
    margin-left: -200px !important;
}
.ubermenu.ubermenu-target {
    background: #333 !important;
}
.ubermenu.ubermenu-main .ubermenu-item-normal.ubermenu-active > .ubermenu-target {
    color: #ffffff;
    background-color: #2c4e86 !important;
}
/*Mega Menu*/

.berocket_term_depth_1 {
	margin-left: 20px;
    background: #efefef;
    padding: 5px 5px !important;
}

.berocket_aapf_widget li.slider span.left input, .berocket_aapf_widget li.slider span.right input {
    border: 0px solid #E8E8E8 !important;
    width: 80% !important;
    background: #ffffff00 !important;
}

.track_banner {
    margin-top: 163px;
    margin-bottom: -200px;
}

.ubermenu-submenu.ubermenu-submenu-id-11701.ubermenu-submenu-type-auto.ubermenu-submenu-type-flyout.ubermenu-submenu-drop.ubermenu-submenu-align-vertical_parent_item {
    overflow-y: scroll;
    height: 400px;
}
.ubermenu-submenu.ubermenu-submenu-id-11677.ubermenu-submenu-type-flyout.ubermenu-submenu-drop.ubermenu-submenu-align-vertical_full_height.ubermenu-submenu-content-align-left {
    width: 400px !important;
    margin-left: -307px !important;
}
.ubermenu-submenu.ubermenu-submenu-id-11699.ubermenu-submenu-type-auto.ubermenu-submenu-type-flyout.ubermenu-submenu-drop.ubermenu-submenu-align-left_edge_item {
    margin-left: -100px !important;
}
.ubermenu-submenu.ubermenu-submenu-id-11701.ubermenu-submenu-type-auto.ubermenu-submenu-type-flyout.ubermenu-submenu-drop.ubermenu-submenu-align-vertical_parent_item {
    margin-left: 35px !important;
}
.ubermenu-submenu-id-11735, .ubermenu-submenu-id-11753, .ubermenu-submenu-id-11771, .ubermenu-submenu-id-11727, .ubermenu-submenu-id-11745, .ubermenu-submenu-id-11763 {
    margin-left: 35px !important;
}
.ubermenu-submenu-id-11681, .ubermenu-submenu-id-11791, .ubermenu-submenu-id-11781, .ubermenu-submenu-id-11799 {
    margin-left: -100px !important;
}

/* Woo Products Page */
/*.woo-height {*/
/*    min-height: 595px !important;*/
/*}*/
/*.quantity, .buttons_added { width:0; height:0; display: none; visibility: hidden; }*/
.woocommerce.product-columns-4 ul.products li.product.last .woo-height {
    min-height: 595px !important;
}
.button.wc-forward {
    text-align: center;
    margin: auto;
}
/* Woo Products Page */

/* Mega Menu Styling - Paste in custom css */
#mega-menu-wrap-menu-1 {
    clear: both;
    width: 100%;
    /*position: absolute;*/
    top: 34px;
    z-index: 999999;
    /*right: 155px;*/
    /*right: -25px;*/
    transition: all .3s;
    -webkit-transition: all .3s;
}
header.smaller #mega-menu-wrap-menu-1 {
    top: 14px;
}
#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-megamenu > ul.mega-sub-menu {
    left: 330px !important;
    max-width: 1400px;
    width: auto !important;
}
.dgwt-wcas-search-wrapp {
    margin-top: 34px;
    z-index: 9999999;
    margin-left: 0px;
    max-width: 250px !important;
}
.mega-menu-item-19765 {
    background: #ee2729 !important;
}
.mega-menu-item-19765 a.mega-menu-link, .mega-menu-item-19765 a.mega-menu-link span, .mega-menu-item-19765 span  {
    color: #fff !important;
    text-align: center !important;
}
ul.mega-sub-menu {
    -webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,0.2) !important;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.2) !important;
}
.mega-helptab {
    transition: all .3s;
    -webkit-transition: all .3s;
}
.mega-helptab a {
    position: absolute !important;
    top: -50px !important;
    font-size: 12px !important;
    margin-left: -50px !important;
    color: #3a67b1 !important;
    font-weight: 600 !important;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.mega-helptab a:hover {
    color: #333 !important;
}
header.smaller .mega-helptab a {
    top: -42px !important;
}
#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link {
    font-size: 13px !important;
    font-weight: 300;
    padding: 0px 10px !important;
    margin: -3px 0px !important;
}
#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-megamenu > ul.mega-sub-menu {
    padding-bottom: 20px;
}
/*Mega Menu Styling*/
button, input, optgroup, select, textarea {
    font-family: 'Lato', sans-serif !important;
}